@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Disclaimer: This website is not a real website and is been created as part of an assignment in an approved course of study for RMIT University. 
    We do not guaruntee the privacy fo your data when using this site.</p>
